requests>=2.22.0
connexion>=2.3.0
swagger-ui-bundle>=0.0.5
Flask>=1.1.1
Flask-Cors>=3.0.8
Flask-Script>=2.0.6
Pony>=0.7.10
greenlet>=0.4.15
uuid>=1.30
jira>=2.0.0
psycopg2-binary>=2.8.3
APScheduler>=3.6.1
Flask-APScheduler>=1.11.0
numpy
